body {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}

#main {
	display: flex;
}

#contacts {
	display: inline-flex;
}

ol {
	width: 390px;
	font-size: 16pt;
	line-height: 1.7;
}

img {
	width: 250px;
	display: inline-flex;
}

h1 {
	font-size: 22pt;
}

h2, h5 {
	padding-top: 20px;
	font-size: 18pt;
}

p, ul {
	font-size: 16pt;
}
